{% extends 'payments/base.html' %}
{% load static %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <ul>
            {% for family in object_list %}
                <li>{{ family }} has a balance of ${{ family.balance }}</li>
            {% empty %}
                <li>No familys yet.</li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- Testing Web Push -->
    <!-- <div class="col">
            <form id="send-push__form">
                    <div class="form-group">
                        <h3 class="header">Send a push notification</h3>
                        <p class="error"></p>
                        <input type="text" name="head" placeholder="Header: Your favorite airline 😍">
                    </div>
                    <div class="form-group">
                        <textarea name="body" id="" cols="30" rows="10" placeholder="Body: Your flight has been cancelled 😱😱😱"></textarea>
                    </div>        
                    <div class="form-group">
                        <button>Send Me</button>
                    </div>
                </form>
    </div>
</div>   -->
      
</div>
    <script src="{% static '/js/registerSw.js' %}"></script>
    <script src="{% static '/js/site.js' %}"></script>

{% endblock %}


